.form-group input[type="radio"]
{
    margin: 10px;
    position: relative;
    vertical-align: middle;
    background-color: #FF0000;
}
.youtube-radio
{
    vertical-align: middle;
}
.youtube-content
{
    height: 100vh;
    padding-top: 200px;
    background-color: $gray;
    color: $white;
    vertical-align: middle;
}
