@font-face{
    font-family: "BebasNeue Bold";
    src: url('../../fonts/BebasNeue Bold.otf');
}
@font-face{
    font-family: "Mexcellent";
    src: url('../../fonts/mexcellent rg.ttf');
}
@font-face {
    font-family: "Noto Sans";
    src: url('https://fonts.googleapis.com/css?family=Noto+Sans');
}
@font-face {
    font-family: "Roboto";
    src: url('https://fonts.googleapis.com/css?family=Roboto:400,700,500,600');
}
